#piano{
  margin: auto;
  width: 1400px;
}

.tecla {
  display: inline-block;
  border: 2px solid black;
  width: 100px;
  height: 300px;
}

.keyBlack{
  background-color: black;
  vertical-align: top;
  width: 100px;
  height: 150px;
}